@model Web.UmbracoProject.Infrastructure.Components.Models.ViewComponentModel
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Cms.Web.Common;
@using Umbraco.Extensions;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Core.Models;

@foreach (var item in Model.PublishedContentList)
{
    var logoSvg = item.Value<string>("logoSvg");
    var logoText = item.Value<string>("logoText");
    var logoImage = item.Value<MediaWithCrops>("logoImage");

    if (logoSvg != "")
    {
        <a class="navbar-brand" href="\">
            @Html.Raw(logoSvg)
        </a>
        break;
    }
    else if (logoText != "")
    {
        <h1 class="text-light">
            <a href="\">
                <span>
                    @logoText
                </span>
            </a>
        </h1>
        break;
    }
    else if (logoImage != null)
    {
        <a href=""><img src="@logoImage.MediaItem.Url()" alt="" class="img-fluid"></a>
        break;
    }
}